@page "/loc"

<div class="container container-blur pc-grid">

    <div class="mt-3 rounded bg-light pb-3 max-w">
        <div class="d-flex align-items-baseline p-2">
            <div class="col mt-2"><h4 class="fw-bold">Madera</h4></div>
        </div>
        <img class="img-fluid" src="images/madera.jpeg" />
        <div class="p-2">
            <div class="pt-2 pb-4">
                Madera to rajska wyspa, pełna spektakularnych krajobrazów, malowniczych klifów i bujnej roślinności. Idealne miejsce na wędrówki pośród górskich szlaków, odkrywanie urokliwych ogrodów i relaks nad Atlantykiem.
            </div>
            <NavLink href="creator2?location=Madera" class="btn btn-primary rounded-pill">
                Sprawdź podróż
            </NavLink>
        </div>
    </div>

    <div class="mt-3 rounded bg-light pb-3 max-w">
        <div class="d-flex align-items-baseline p-2">
            <div class="col mt-2"><h4 class="fw-bold">Islandia</h4></div>
        </div>
        <img class="img-fluid" src="images/iceland.jpg" />
        <div class="p-2">
            <div class="pt-2 pb-4">
                Islandia to kraina ognia i lodu, gdzie możesz podziwiać gejzery, wodospady oraz niepowtarzalne zorze polarne. Idealne miejsce dla miłośników przyrody i aktywnego wypoczynku.
            </div>
            <NavLink href="creator2?location=Islandia" class="btn btn-primary rounded-pill">
                Sprawdź podróż
            </NavLink>
        </div>
    </div>

    <div class="mt-3 rounded bg-light pb-3 max-w">
        <div class="d-flex align-items-baseline p-2">
            <div class="col mt-2"><h4 class="fw-bold">Patagonia</h4></div>
        </div>
        <img class="img-fluid" src="images/patagonia.jpg" />
        <div class="p-2">
            <div class="pt-2 pb-4">
                Patagonia zachwyca surowym krajobrazem, lodowcami i dziką naturą. To idealne miejsce dla poszukiwaczy przygód i fanów trekkingu.
            </div>
            <NavLink href="creator2?location=Patagonia" class="btn btn-primary rounded-pill">
                Sprawdź podróż
            </NavLink>
        </div>
    </div>

    <div class="mt-3 rounded bg-light pb-3 max-w">
        <div class="d-flex align-items-baseline p-2">
            <div class="col mt-2"><h4 class="fw-bold">Japonia</h4></div>
        </div>
        <img class="img-fluid" src="images/japonia.jpg" />
        <div class="p-2">
            <div class="pt-2 pb-4">
                Japonia to połączenie tradycji i nowoczesności, pięknych ogrodów, świątyń i futurystycznych miast. Doskonałe miejsce do kulturowej eksploracji.
            </div>
            <NavLink href="creator2?location=Japonia" class="btn btn-primary rounded-pill">
                Sprawdź podróż
            </NavLink>
        </div>
    </div>

    <div class="mt-3 rounded bg-light pb-3 max-w">
        <div class="d-flex align-items-baseline p-2">
            <div class="col mt-2"><h4 class="fw-bold">Maroko</h4></div>
        </div>
        <img class="img-fluid" src="images/maroko.jpg" />
        <div class="p-2">
            <div class="pt-2 pb-4">
                Maroko to egzotyczne połączenie pustynnych krajobrazów, tętniących życiem bazarów i bogatej kultury. Idealne dla tych, którzy chcą poznać Afrykę Północną.
            </div>
            <NavLink href="creator2?location=Maroko" class="btn btn-primary rounded-pill">
                Sprawdź podróż
            </NavLink>
        </div>
    </div>

    <div class="mt-3 rounded bg-light pb-3 max-w">
        <div class="d-flex align-items-baseline p-2">
            <div class="col mt-2"><h4 class="fw-bold">Nowa Zelandia</h4></div>
        </div>
        <img class="img-fluid" src="images/Nowa-Zelandia.jpg" />
        <div class="p-2">
            <div class="pt-2 pb-4">
                Nowa Zelandia to kraj spektakularnych fiordów, gór i dzikich plaż. Idealna destynacja dla fanów natury i sportów ekstremalnych.
            </div>
            <NavLink href="creator2?location=NowaZelandia" class="btn btn-primary rounded-pill">
                Sprawdź podróż
            </NavLink>
        </div>
    </div>

    <div class="mt-3 rounded bg-light pb-3 max-w">
        <div class="d-flex align-items-baseline p-2">
            <div class="col mt-2"><h4 class="fw-bold">Santorini</h4></div>
        </div>
        <img class="img-fluid" src="images/santorini.jpg" />
        <div class="p-2">
            <div class="pt-2 pb-4">
                Santorini to malownicza grecka wyspa słynąca z białych domów i spektakularnych zachodów słońca. Idealne miejsce na romantyczny wypoczynek.
            </div>
            <NavLink href="creator2?location=Santorini" class="btn btn-primary rounded-pill">
                Sprawdź podróż
            </NavLink>
        </div>
    </div>

    <div class="mt-3 rounded bg-light pb-3 max-w">
        <div class="d-flex align-items-baseline p-2">
            <div class="col mt-2"><h4 class="fw-bold">Kostaryka</h4></div>
        </div>
        <img class="img-fluid" src="images/Kostaryka.jpg" />
        <div class="p-2">
            <div class="pt-2 pb-4">
                Kostaryka to tropikalny raj z bujną dżunglą, wulkanami i rajskimi plażami. Doskonałe miejsce dla miłośników natury i ekologicznych przygód.
            </div>
            <NavLink href="creator2?location=Kostaryka" class="btn btn-primary rounded-pill">
                Sprawdź podróż
            </NavLink>
        </div>
    </div>


</div>