
<nav class="navbar fixed-bottom navbar-expand bg-light">
    <div class="container-fluid d-flex justify-content-around align-items-baseline">
        <NavLink href="" Match="NavLinkMatch.All" class="nav-item text-center text-dark">
            <i class="bi bi-house"></i>
            <div>Główna</div>
        </NavLink>
        <NavLink href="travel" class="nav-item text-dark text-center">
            <i class="bi bi-suitcase-lg"></i>
            <div>Podróże</div>
        </NavLink>
        <NavLink href="loc" class="nav-item text-dark text-center">
            <i class="bi bi-geo-alt"></i>
            <div>Lokalizacje</div>
        </NavLink>
        <NavLink href="profile" class="nav-item text-dark text-center">
            <i class="bi bi-person" style="font-size: 2.3rem;"></i>
            <div>Konto</div>
        </NavLink>
    </div>
</nav>